.navbar {
    background-color: #fff !important;
    -webkit-box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.36);
    -moz-box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.36);
    box-shadow: 0px 3px 9px -1px rgba(0,0,0,0.36);
    align-items: center !important;
}

#navbarNav{
    justify-content: end !important;
}