<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/style/registrarse.css">
    <title>Registrarse</title>
</head>
<body>
    <header>
        <a href="/index.html">Inicio</a>
        <a href="/src/layouts/tendencia.html">Tendencia</a>
        <a href="#">Registrarse</a>
        <a href="/src/layouts/iniciarSesion.html">Iniciar Sesión</a>
    </header>
    <div>
        <h1>Registrarse</h1>
    </div>
</body>
</html>